/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";

//Viewports

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;



